button{
    cursor: pointer;
    /* padding: 11px 37px; */
    width: 142px;
    height: 48px;
    font-size: var(--size-text-3);
    font-weight: var(--weight-1);
    transition: 0.1s ease-in;
}

button:hover{
    /* opacity: 0.75; */
    transform:scale(0.95);
    /* box-shadow: 2px 2px 5px black; */
}
.btn-brand{
    background: var(--color-brand);
    color: var(--color-white);
    border: 1px solid var(--color-brand);
}

.btn-outline{
    color: var(--color-brand);
    border: 1px solid var(--color-brand);
    background: none;
    font-family: var(--family-3);
}

.btn-success{
    background: var(--color-success);
    color: var(--color-white);
    border: 1px solid var(--color-success);
}

.btn-alert{
    color: var(--color-alert);
    border: 1px solid var(--color-alert);
    background: none;
}