@media only screen and (max-width: 600px) {
    body {
        /* background-color: lightblue; */
        width: 100vw;
        height: 100vh;
        /* border: 1px solid green; */
    }

    header {
        height: auto;
        z-index: 1;
        background-color: var(--color-white);
        position: relative;
    }

    nav {
        /* com menu inativo */
        display: none;
        padding-top: 44px;
        width: 100vw;
        justify-content: space-between;
        /* z-index: 1; */
    }

    #close-menu,
    #open-menu {
        /* com menu inativo */
        display: none;
        border: none;
        background: none;
        width: auto;
        height: fit-content;
        position: absolute;
        right: 14px;
        top: 25px;
    }

    nav.show-menu,
    #close-menu.show-menu,
    #open-menu.show-menu {
        display: flex;
    }

    nav>a,
    nav>a>button {
        width: 100%;
        /* border: 1px solid green; */
    }

    header>div {
        /* align-items: center; */
        height: fit-content;
        width: 100vw;
        flex-wrap: wrap;
        padding: 25px 14px;
        /* gap: 404px; */
        position: relative;
    }

    main.main-mobile {
        margin: 0px;
        padding: 0px;
        height: 100vh;
        background-size: cover;
        align-items: flex-start;
    }

    main.main-index {
        padding-top: 23px;
    }

    main.show-menu {
        transform: translateY(-92px);
    }

    main>img {
        display: none;
    }

    section.section-mobile {
        width: 100%;
        /* height: 450px; */
        margin-top: 28px;
        padding: 40px 19px;

    }

    form>h3 {
        font-size: var(--size-title-3);
    }

    section>ul {
        width: 100vw;
        height: auto;
        flex-direction: row;
        overflow-y: hidden;
    }

    section>div {
        background-position-x: 95%;
    }

    section>div>select {
        width: 100vw;
    }

    ul>li {
        width: 241px;
        padding-left: 15px;
    }

    li>h4 {
        width: 241px;
        padding-bottom: 74px;
        /* padding-right: 10px; */
    }

    li>span {
        margin-bottom: 15px;
        /* padding-right: 10px; */
    }

    .toast {
        top: unset;
        bottom: 20px;
    }
}