main {
    display: flex;
    justify-content: space-between;
    padding-top: 43px;
    
}

section {
    width: 550px;
    height: 743px;
    /* border: 1px solid green; */
    background-color: var(--color-grey-1);
    box-shadow: 0px 0px 35px var(--border-1);
    /* border: 1px solid green; */
}

/* section > div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    background-color: var(--color-brand);
    position: relative;
} */
section>div {
    height: 52px;
    overflow: hidden;
    background: url('../images/arrowBottom.svg') no-repeat right var(--color-brand);
    border: 1px solid #ccc;
}

section>div>select {
    -webkit-appearance: none;
    text-align: center;
    background: transparent;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    color: var(--color-white);
    font-family: var(--family-2);
    font-weight: var(--weight-2);
    font-size: var(--size-text-2);
}



section>div>img {
    position: absolute;
    right: 14px;
}

section>ul {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 25px 30px;
    height:691px;
    background-color: var(--color-grey-1);
    overflow-y: scroll;
}

ul>li {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 13px 25px;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-brand);
    /* height: 50px; */
}

li h4 {
    font-size: var(--size-text-2);
}

li span {
    width: fit-content;
    padding: 6px 26px;
    border: 1px solid var(--color-brand);
    border-radius: var(--radius-2);
}